#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; 
    height: 500px;
    background-size: cover;
    z-index: 9999;
    display: none;
    background: var(--loading-gif) no-repeat center center;
}

body.loading #loading-spinner {
    display: block;
}

body.loading *:not(#loading-spinner) {
    filter: blur(5px);
}
